body {
font-family: "Open sans", sans-serif;
background-color: sandybrown
}


.begin {
font-family: "Open sans", sans-serif;
margin: 100px
}

.RabbitStew {
font-family: "Open sans", fantasy;
margin: 100px
}

.SunPanel {
font-family: "Open sans", fantasy;
margin: 100px
}
    
.SeaLantern {
font-family: "Open sans", fantasy;
margin: 100px
}
      
.Cake {
font-family: "Open sans", fantasy;
margin: 100px
}
        
.FireworkFireworkstar {
font-family: "Open sans", fantasy;
margin: 100px
}



